In [2]:
from datasets import load_dataset

# Load separately for weighted training
spider = load_dataset("AsadIsmail/nl2sql-deduplicated", data_files="spider_clean.jsonl", split="train")
sqale = load_dataset("AsadIsmail/nl2sql-deduplicated", data_files="sqale_clean.jsonl", split="train")
gretel = load_dataset("AsadIsmail/nl2sql-deduplicated", data_files="gretel_clean.jsonl", split="train")
sql_context = load_dataset("AsadIsmail/nl2sql-deduplicated", data_files="sql_context_clean.jsonl", split="train")

# Load eval set
eval_data = load_dataset("AsadIsmail/nl2sql-deduplicated", data_files="spider_dev_clean.jsonl", split="train")

Using custom data configuration AsadIsmail--nl2sql-deduplicated-2303813b4ce4b0b6

Downloading and preparing dataset json/AsadIsmail--nl2sql-deduplicated to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-2303813b4ce4b0b6/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data: 0.00B [00:00, ?B/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Using custom data configuration AsadIsmail--nl2sql-deduplicated-306c59c9b1265948

Dataset json downloaded and prepared to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-2303813b4ce4b0b6/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b. Subsequent calls will reuse this data.
Downloading and preparing dataset json/AsadIsmail--nl2sql-deduplicated to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-306c59c9b1265948/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/836M [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Using custom data configuration AsadIsmail--nl2sql-deduplicated-fb07a1e6c5a6c15b

Dataset json downloaded and prepared to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-306c59c9b1265948/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b. Subsequent calls will reuse this data.
Downloading and preparing dataset json/AsadIsmail--nl2sql-deduplicated to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-fb07a1e6c5a6c15b/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/59.6M [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Using custom data configuration AsadIsmail--nl2sql-deduplicated-ae42ea8c3ff57c25

Dataset json downloaded and prepared to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-fb07a1e6c5a6c15b/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b. Subsequent calls will reuse this data.
Downloading and preparing dataset json/AsadIsmail--nl2sql-deduplicated to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-ae42ea8c3ff57c25/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/24.0M [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Using custom data configuration AsadIsmail--nl2sql-deduplicated-189ec92fb8c9731e

Dataset json downloaded and prepared to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-ae42ea8c3ff57c25/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b. Subsequent calls will reuse this data.
Downloading and preparing dataset json/AsadIsmail--nl2sql-deduplicated to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-189ec92fb8c9731e/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data: 0.00B [00:00, ?B/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Dataset json downloaded and prepared to /home/sagemaker-user/.cache/huggingface/datasets/AsadIsmail___json/AsadIsmail--nl2sql-deduplicated-189ec92fb8c9731e/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b. Subsequent calls will reuse this data.

In [2]:
print(f"Spider: {len(spider):,} examples")
print(f"SQaLe: {len(sqale):,} examples")
print(f"Gretel: {len(gretel):,} examples")
print(f"SQL-Context: {len(sql_context):,} examples")
print(f"Eval: {len(eval_data):,} examples")

Spider: 7,000 examples
SQaLe: 502,837 examples
Gretel: 99,013 examples
SQL-Context: 74,209 examples
Eval: 1,034 examples

In [7]:
import random
sample_indices = random.sample(range(len(spider)), 5)

print("Random examples from dataset:\\n")
for idx in sample_indices:
    ex = spider[idx]
    print(ex)
    print("-" * 70)

Random examples from dataset:\n
{'dataset': 'spider', 'question': 'Which teacher teaches the most students? Give me the first name and last name of the teacher.', 'sql': 'SELECT T2.firstname ,  T2.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom GROUP BY T2.firstname ,  T2.lastname ORDER BY count(*) DESC LIMIT 1', 'db_id': 'student_1', 'context': 'CREATE TABLE list (LastName text, FirstName text, Grade number, Classroom number)\nCREATE TABLE teachers (LastName text, FirstName text, Classroom number)'}
----------------------------------------------------------------------
{'dataset': 'spider', 'question': 'In which year were most of ships built?', 'sql': 'SELECT built_year FROM ship GROUP BY built_year ORDER BY count(*) DESC LIMIT 1', 'db_id': 'ship_1', 'context': 'CREATE TABLE captain (Captain_ID number, Name text, Ship_ID number, age text, Class text, Rank text)\nCREATE TABLE Ship (Ship_ID number, Name text, Type text, Built_Year number, Class text, Flag text)'}
----------------------------------------------------------------------
{'dataset': 'spider', 'question': 'Find the top 3 wineries with the greatest number of wines made of white color grapes.', 'sql': 'SELECT T2.Winery FROM GRAPES AS T1 JOIN WINE AS T2 ON T1.GRAPE  =  T2.GRAPE WHERE T1.Color  =  "White" GROUP BY T2.Winery ORDER BY count(*) DESC LIMIT 3', 'db_id': 'wine_1', 'context': 'CREATE TABLE grapes (ID number, Grape text, Color text)\nCREATE TABLE appellations (No number, Appelation text, County text, State text, Area text, isAVA text)\nCREATE TABLE wine (No number, Grape text, Winery text, Appelation text, State text, Name text, Year number, Price number, Score number, Cases number, Drink text)'}
----------------------------------------------------------------------
{'dataset': 'spider', 'question': 'Find the names of users whose emails contain ‘superstar’ or ‘edu’.', 'sql': "SELECT name FROM user_profiles WHERE email LIKE '%superstar%' OR email LIKE '%edu%'", 'db_id': 'twitter_1', 'context': 'CREATE TABLE follows (f1 number, f2 number)\nCREATE TABLE tweets (id number, uid number, text text, createdate time)\nCREATE TABLE user_profiles (uid number, name text, email text, partitionid number, followers number)'}
----------------------------------------------------------------------
{'dataset': 'spider', 'question': 'What are the name and active date of the customers whose contact channel code is email?', 'sql': "SELECT t1.customer_name ,  t2.active_from_date FROM customers AS t1 JOIN customer_contact_channels AS t2 ON t1.customer_id  =  t2.customer_id WHERE t2.channel_code  =  'Email'", 'db_id': 'customers_and_addresses', 'context': 'CREATE TABLE Addresses (address_id number, address_content text, city text, zip_postcode text, state_province_county text, country text, other_address_details text)\nCREATE TABLE Products (product_id number, product_details text)\nCREATE TABLE Customers (customer_id number, payment_method text, customer_name text, date_became_customer time, other_customer_details text)\nCREATE TABLE Customer_Addresses (customer_id number, address_id number, date_address_from time, address_type text, date_address_to time)\nCREATE TABLE Customer_Contact_Channels (customer_id number, channel_code text, active_from_date time, active_to_date time, contact_number text)\nCREATE TABLE Customer_Orders (order_id number, customer_id number, order_status text, order_date time, order_details text)\nCREATE TABLE Order_Items (order_id number, product_id number, order_quantity text)'}
----------------------------------------------------------------------

In [14]:
import random
sample_indices = random.sample(range(len(sqale)), 5)

print("Random examples from dataset:\\n")
for idx in sample_indices:
    ex = sqale[idx]
    print(ex['context'])
    print("-" * 20)
    print(ex['sql'])
    #print(ex)
    print("-" * 70)

Random examples from dataset:\n
CREATE TABLE berobat (   id_berobat Int NOT NULL,   id_pasien Int NOT NULL,   id_dokter Int NOT NULL,   tgl_berobat Date NOT NULL,   keluhan_pasien Varchar NOT NULL,   hasil_diagnosa Varchar NOT NULL,   penatalaksanaan TEXT NOT NULL );  CREATE TABLE dokter (   id_dokter Int NOT NULL UNIQUE,   nama_dokter Varchar NOT NULL );  CREATE TABLE obat (   id_obat Int NOT NULL UNIQUE,   nama_obat Varchar NOT NULL );  CREATE TABLE pasien (   id_pasien Int NOT NULL UNIQUE,   nama_pasien Varchar NOT NULL,   jenis_kelamin TEXT NOT NULL,   umur Int NOT NULL );  CREATE TABLE resep_obat (   id_resep Int NOT NULL,   id_berobat Int NOT NULL,   id_obat Int NOT NULL );  CREATE TABLE users (   id Int NOT NULL UNIQUE,   username Varchar NOT NULL,   password Varchar NOT NULL,   nama_lengkap Varchar NOT NULL );  CREATE TABLE janji_temu (   id_janji Int NOT NULL,   id_pasien Int NOT NULL,   id_dokter Int NOT NULL,   tgl_appointment Date NOT NULL,   status Varchar NOT NULL,   PRIMARY KEY (id_janji),   FOREIGN KE
--------------------
SELECT      (SELECT COUNT(*) FROM resep_obat r JOIN berobat b ON r.id_berobat = b.id_berobat JOIN akun_pembayaran ap ON b.id_pasien = ap.id_pasien WHERE ap.metode = 'Cashless') AS Total_Prescriptions,     (SELECT SUM(pl.total_harga) FROM pemakaian_layanan pl JOIN berobat b ON pl.id_berobat = b.id_berobat JOIN akun_pembayaran ap ON b.id_pasien = ap.id_pasien WHERE ap.metode = 'Cashless') AS Total_Service_Cost;
----------------------------------------------------------------------
CREATE TABLE Guild (   id TEXT NOT NULL UNIQUE,   guildId Integer NOT NULL,   name Varchar NOT NULL );  CREATE TABLE GuildConfig (   id TEXT NOT NULL UNIQUE,   guildId Integer NOT NULL,   prefix Varchar NOT NULL,   lang Varchar NOT NULL,   FOREIGN KEY (guildId) REFERENCES Guild (id) ON DELETE RESTRICT ON UPDATE CASCADE );  CREATE TABLE UserInfo (   id TEXT NOT NULL UNIQUE,   guildId Integer NOT NULL,   userId Varchar NOT NULL );  CREATE TABLE GuildChannel (   id TEXT NOT NULL UNIQUE,   guildId TEXT NOT NULL,   channelId INTEGER NOT NULL,   name VARCHAR NOT NULL,   type VARCHAR NOT NULL,   FOREIGN KEY (guildId) REFERENCES Guild (id) ON DELETE CASCADE ON UPDATE CASCADE );  CREATE TABLE RoleConfiguration (   id TEXT NOT NULL UNIQUE,   guildId TEXT NOT NULL,   roleName VARCHAR NOT NULL,   permissions TEXT NOT NULL,   FOREIGN KEY (guildId) REFERENCES Guild (id) ON DELETE CASCADE ON UPDATE CASCADE );  CREATE TABLE MemberActionLog (   id TEXT NOT NULL UNIQUE,   guildId TEXT NOT NULL,   userId
--------------------
SELECT COUNT(DISTINCT UserCommandLog.command)  FROM UserCommandLog  INNER JOIN GuildConfig ON UserCommandLog.guildId = GuildConfig.guildId  WHERE GuildConfig.lang = 'en';
----------------------------------------------------------------------
CREATE TABLE public_auth_group (   id TEXT NOT NULL UNIQUE,   name Varchar NOT NULL );  CREATE TABLE public_auth_group_permissions (   id TEXT NOT NULL UNIQUE,   group_id TEXT NOT NULL,   permission_id TEXT NOT NULL );  CREATE TABLE public_auth_permission (   id TEXT NOT NULL UNIQUE,   name Varchar NOT NULL,   content_type_id TEXT NOT NULL,   codename Varchar NOT NULL );  CREATE TABLE public_auth_user (   id TEXT NOT NULL UNIQUE,   password Varchar NOT NULL,   last_login Timestamp NOT NULL,   is_superuser bool NOT NULL,   username Varchar NOT NULL,   first_name Varchar NOT NULL,   last_name Varchar NOT NULL,   email Varchar NOT NULL,   is_staff bool NOT NULL,   is_active bool NOT NULL,   date_joined Timestamp NOT NULL );  CREATE TABLE public_auth_user_groups (   id TEXT NOT NULL UNIQUE,   user_id TEXT NOT NULL,   group_id TEXT NOT NULL );  CREATE TABLE public_auth_user_user_permissions (   id TEXT NOT NULL UNIQUE,   user_id TEXT NOT NULL,   permission_id TEXT NOT NULL );  CREATE TABLE
--------------------
SELECT a.title, a.message, c.full_name FROM public_enroll_announcement a JOIN public_enroll_course c ON a.course_id = c.id WHERE a.posted_by = '1234';
----------------------------------------------------------------------
CREATE TABLE categoria (   categoria_id Int NOT NULL UNIQUE,   categoria_descripcion Varchar NOT NULL );  CREATE TABLE curso (   curso_id Int NOT NULL,   curso_nombre Varchar NOT NULL,   curso_descripcion Varchar NOT NULL,   curso_precio Decimal NOT NULL,   curso_imagen Text NOT NULL,   curso_estado Int NOT NULL,   curso_categoria Int NOT NULL,   FOREIGN KEY (curso_categoria) REFERENCES categoria (categoria_id) );  CREATE TABLE detalle_venta (   id_venta Int NOT NULL,   id_producto Int NOT NULL,   detalle_cantidad Int NOT NULL,   detalle_precio Decimal NOT NULL );  CREATE TABLE mensajes (   id_mensaje Int NOT NULL UNIQUE,   nombre Varchar NOT NULL,   mail Varchar NOT NULL,   asunto Varchar NOT NULL,   consulta Text NOT NULL,   estado Int NOT NULL );  CREATE TABLE perfil (   id_perfil Int NOT NULL UNIQUE,   perfil_descripcion Varchar NOT NULL );  CREATE TABLE usuarios (   id_usuario Int NOT NULL,   nombre Varchar NOT NULL,   apellido Varchar NOT NULL,   mail Varchar NOT NULL,   password
--------------------
SELECT COUNT(DISTINCT e.usuario_id) AS total_users FROM evaluacion_completado e JOIN curso c ON e.curso_id = c.curso_id JOIN certificado_usuario cu ON e.usuario_id = cu.usuario_id AND e.curso_id = cu.curso_id JOIN certificado_compartido cc ON cu.certificado_id = cc.certificado_id_original JOIN recomendacion_curso_usuario rcu ON e.usuario_id = rcu.usuario_id JOIN inscripcion_usuario iu ON rcu.usuario_id = iu.usuario_id AND rcu.curso_recomendado_id = iu.curso_id WHERE c.curso_nombre = 'Data Science with R'   AND e.completa = 1   AND cu.estado = 1   AND iu.estado_inscripcion = 1;
----------------------------------------------------------------------
CREATE TABLE exam (   question Varchar NOT NULL,   A TinyInt NOT NULL,   B TinyInt NOT NULL,   C TinyInt NOT NULL,   D TinyInt NOT NULL,   answer Varchar NOT NULL );  CREATE TABLE exam_question_statistics (   question Varchar PRIMARY KEY,   correct_attempts Integer NOT NULL DEFAULT 0,   incorrect_attempts Integer NOT NULL DEFAULT 0,   total_attempts Integer NOT NULL DEFAULT 0,   FOREIGN KEY (question) REFERENCES exam_questions(question) );  CREATE TABLE exam_difficulty_feedback (   feedback_id Integer PRIMARY KEY,   exam_id Integer NOT NULL,   user_id Integer NOT NULL,   difficulty_rating Integer NOT NULL,   FOREIGN KEY (exam_id) REFERENCES exams(exam_id),   FOREIGN KEY (user_id) REFERENCES users(user_id) );  CREATE TABLE exam_topic_performance (   user_id Integer NOT NULL,   topic_id Integer NOT NULL,   correct_questions Integer NOT NULL DEFAULT 0,   incorrect_questions Integer NOT NULL DEFAULT 0,   last_accessed Integer NOT NULL,   PRIMARY KEY (user_id, topic_id),   FOREIGN KEY (user
--------------------
WITH filtered_pairs AS (     SELECT          e.question1 AS q1,         e.question2 AS q2,         e.similarity_score AS score,         q1.explanation_rating AS rating_q1,         q2.explanation_rating AS rating_q2,         c1.concept_id AS concept1,         c2.concept_id AS concept2     FROM exam_question_similarity e     LEFT JOIN question_explanation_feedback q1 ON e.question1 = q1.question     LEFT JOIN question_explanation_feedback q2 ON e.question2 = q2.question     LEFT JOIN exam_question_concept_mapping c1 ON e.question1 = c1.question     LEFT JOIN exam_question_concept_mapping c2 ON e.question2 = c2.question ), included_pairs AS (     SELECT q1, q2, score     FROM filtered_pairs     WHERE          (rating_q1 > 2 OR rating_q1 IS NULL) AND         (rating_q2 > 2 OR rating_q2 IS NULL) AND         (concept1 != concept2 OR concept1 IS NULL OR concept2 IS NULL) ), question_similarity_data AS (     SELECT          q1 AS question,         score AS avg_score,         sf.user_id     FROM included_pairs     LEFT JOIN question_similarity_feedback sf ON q1 = sf.question1 AND q2 = sf.question2     UNION ALL     SELECT          q2 AS question,         score AS avg_score,         sf.user_id     FROM included_pairs     LEFT JOIN question_similarity_feedback sf ON q2 = sf.question1 AND q1 = sf.question2 ) SELECT      question,     AVG(avg_score) AS avg_similarity_score,     COUNT(DISTINCT user_id) AS user_count FROM question_similarity_data GROUP BY question ORDER BY avg_similarity_score DESC LIMIT 10;
----------------------------------------------------------------------

In [3]:
import random
sample_indices = random.sample(range(len(sql_context)), 5)

print("Random examples from dataset:\\n")
for idx in sample_indices:
    ex = sql_context[idx]
    print(ex['context'])
    print("-" * 20)
    print(ex['sql'])
    #print(ex)
    print("-" * 70)

Random examples from dataset:\n
CREATE TABLE table_name_5 (leading_scorer VARCHAR, date VARCHAR)
--------------------
SELECT leading_scorer FROM table_name_5 WHERE date = "2006-11-22"
----------------------------------------------------------------------
CREATE TABLE table_name_10 (nominated_by_the_taoiseach INTEGER, agricultural_panel VARCHAR, administrative_panel VARCHAR)
--------------------
SELECT AVG(nominated_by_the_taoiseach) FROM table_name_10 WHERE agricultural_panel < 1 AND administrative_panel < 0
----------------------------------------------------------------------
CREATE TABLE table_name_10 (year INTEGER, category VARCHAR, awards VARCHAR)
--------------------
SELECT MIN(year) FROM table_name_10 WHERE category = "stacy" AND awards = "best reality star in social media"
----------------------------------------------------------------------
CREATE TABLE table_23385853_20 (pos INTEGER, finishes VARCHAR)
--------------------
SELECT MIN(pos) FROM table_23385853_20 WHERE finishes = 10
----------------------------------------------------------------------
CREATE TABLE table_name_39 (opponent VARCHAR, date VARCHAR, week VARCHAR)
--------------------
SELECT opponent FROM table_name_39 WHERE date = "bye" AND week = 1
----------------------------------------------------------------------